<?xml version="1.0" encoding="utf-8"?>
<project>	
<WBL7355A>
        <battery_capacity>2300</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>450</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>346</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>5</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>2.3</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>60</zero_ten_time>
        <ten_twenty_time>34</ten_twenty_time>
        <twenty_thirty_time>34</twenty_thirty_time>
        <thirty_forty_time>34</thirty_forty_time>
        <forty_fifty_time>34</forty_fifty_time>
        <fifty_sixty_time>34</fifty_sixty_time>
	<sixty_seventy_time>35</sixty_seventy_time>
        <seventy_eight_time>35</seventy_eight_time>
        <eight_ninety_time>37</eight_ninety_time>
        <ninety_hundred_time>38</ninety_hundred_time>
</WBL7355A>
<WBL7517A>
        <battery_capacity>3000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>900</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>470</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>153</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>8</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>0.15</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>94</zero_ten_time>
        <ten_twenty_time>98</ten_twenty_time>
        <twenty_thirty_time>100</twenty_thirty_time>
        <thirty_forty_time>100</thirty_forty_time>
        <forty_fifty_time>99</forty_fifty_time>
        <fifty_sixty_time>102</fifty_sixty_time>
	<sixty_seventy_time>102</sixty_seventy_time>
        <seventy_eight_time>103</seventy_eight_time>
        <eight_ninety_time>108</eight_ninety_time>
        <ninety_hundred_time>110</ninety_hundred_time>
</WBL7517A>
<GBL7360A>
        <battery_capacity>2400</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1150</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>550</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>8</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>2.2</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>28</zero_ten_time>
        <ten_twenty_time>27</ten_twenty_time>
        <twenty_thirty_time>27</twenty_thirty_time>
        <thirty_forty_time>27</thirty_forty_time>
        <forty_fifty_time>25</forty_fifty_time>
        <fifty_sixty_time>25</fifty_sixty_time>
	<sixty_seventy_time>24</sixty_seventy_time>
        <seventy_eight_time>25</seventy_eight_time>
        <eight_ninety_time>27</eight_ninety_time>
        <ninety_hundred_time>20</ninety_hundred_time>
</GBL7360A>
<WBL7519A>
        <battery_capacity>3150</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>2000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>450</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>445</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>7</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>2.1</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>42</zero_ten_time>
        <ten_twenty_time>50</ten_twenty_time>
        <twenty_thirty_time>51</twenty_thirty_time>
        <thirty_forty_time>51</thirty_forty_time>
        <forty_fifty_time>52</forty_fifty_time>
        <fifty_sixty_time>53</fifty_sixty_time>
	<sixty_seventy_time>54</sixty_seventy_time>
        <seventy_eight_time>55</seventy_eight_time>
        <eight_ninety_time>57</eight_ninety_time>
        <ninety_hundred_time>56</ninety_hundred_time>
</WBL7519A>
<GBL7325A>
        <battery_capacity>2400</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>300</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>12</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>2.2</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>60</zero_ten_time>
        <ten_twenty_time>29</ten_twenty_time>
        <twenty_thirty_time>30</twenty_thirty_time>
        <thirty_forty_time>30</thirty_forty_time>
        <forty_fifty_time>31</forty_fifty_time>
        <fifty_sixty_time>31</fifty_sixty_time>
	<sixty_seventy_time>32</sixty_seventy_time>
        <seventy_eight_time>32</seventy_eight_time>
        <eight_ninety_time>34</eight_ninety_time>
        <ninety_hundred_time>36</ninety_hundred_time>
</GBL7325A>
<WBL5708A>
        <battery_capacity>3100</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>2000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>375</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>18</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>1.7</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>42</zero_ten_time>
        <ten_twenty_time>38</ten_twenty_time>
        <twenty_thirty_time>38</twenty_thirty_time>
        <thirty_forty_time>39</thirty_forty_time>
        <forty_fifty_time>38</forty_fifty_time>
        <fifty_sixty_time>38</fifty_sixty_time>
	<sixty_seventy_time>40</sixty_seventy_time>
        <seventy_eight_time>40</seventy_eight_time>
        <eight_ninety_time>41</eight_ninety_time>
        <ninety_hundred_time>42</ninety_hundred_time>
</WBL5708A>
<GBL7533A>
        <battery_capacity>3000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>3500</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>294</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>5</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>1.5</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>46</zero_ten_time>
        <ten_twenty_time>40</ten_twenty_time>
        <twenty_thirty_time>41</twenty_thirty_time>
        <thirty_forty_time>42</thirty_forty_time>
        <forty_fifty_time>42</forty_fifty_time>
        <fifty_sixty_time>42</fifty_sixty_time>
	<sixty_seventy_time>43</sixty_seventy_time>
        <seventy_eight_time>44</seventy_eight_time>
        <eight_ninety_time>46</eight_ninety_time>
        <ninety_hundred_time>44</ninety_hundred_time>
</GBL7533A>
<WBL7365A>
        <battery_capacity>2300</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>600</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>8</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>2.1</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>40</zero_ten_time>
        <ten_twenty_time>32</ten_twenty_time>
        <twenty_thirty_time>31</twenty_thirty_time>
        <thirty_forty_time>32</thirty_forty_time>
        <forty_fifty_time>33</forty_fifty_time>
        <fifty_sixty_time>34</fifty_sixty_time>
	<sixty_seventy_time>35</sixty_seventy_time>
        <seventy_eight_time>44</seventy_eight_time>
        <eight_ninety_time>35</eight_ninety_time>
        <ninety_hundred_time>38</ninety_hundred_time>
</WBL7365A>
<WBL7511A>
        <battery_capacity>3100</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>450</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>200</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>12.5</current_in_supermode>  <!-- 极致省电模式待机电流,mA -->
        <current_per_brightness>0.6</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>90</zero_ten_time>
        <ten_twenty_time>91</ten_twenty_time>
        <twenty_thirty_time>92</twenty_thirty_time>
        <thirty_forty_time>93</thirty_forty_time>
        <forty_fifty_time>94</forty_fifty_time>
        <fifty_sixty_time>94</fifty_sixty_time>
        <sixty_seventy_time>96</sixty_seventy_time>
        <seventy_eight_time>98</seventy_eight_time>
        <eight_ninety_time>99</eight_ninety_time>
        <ninety_hundred_time>89</ninety_hundred_time>
</WBL7511A>
<WBL7361A>
        <battery_capacity>4000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>2000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>365</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>12.3</current_in_supermode> <!--极致省电下的待机电流-->
        <current_per_brightness>2.0</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>27</zero_ten_time>
        <ten_twenty_time>65</ten_twenty_time>
        <twenty_thirty_time>70</twenty_thirty_time>
        <thirty_forty_time>70</thirty_forty_time>
        <forty_fifty_time>70</forty_fifty_time>
        <fifty_sixty_time>70</fifty_sixty_time>
	<sixty_seventy_time>75</sixty_seventy_time>
        <seventy_eight_time>75</seventy_eight_time>
        <eight_ninety_time>77</eight_ninety_time>
        <ninety_hundred_time>75</ninety_hundred_time>
</WBL7361A>
<CBL7521A>
        <battery_capacity>3150</battery_capacity>  <!-- ç”µæ± å®¹é‡ -->
        <ac_charge_current>2000</ac_charge_current> <!-- äº¤æµç”µå……ç”µç”µæµå€¼ -->
        <usb_charge_current>500</usb_charge_current> <!-- USBå……ç”µç”µæµå€¼ -->
        <original_current>257</original_current>  <!-- å‡ºåŽ‚çŠ¶æ€åŽŸå§‹äº®å±ä½¿ç”¨ç”µæµ -->
        <original_brightness>255</original_brightness> <!-- å‡ºåŽ‚çŠ¶æ€é»˜è®¤å±å¹•äº®åº¦ -->
        <current_in_supermode>6.8</current_in_supermode>  <!-- æžè‡´çœç”µæ¨¡å¼å¾…æœºç”µæµ,mA -->
        <current_per_brightness>0.8</current_per_brightness> <!-- æ¯å¢žåŠ æˆ–å‡å -->

        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>24</zero_ten_time>
        <ten_twenty_time>35</ten_twenty_time>
        <twenty_thirty_time>38</twenty_thirty_time>
        <thirty_forty_time>30</thirty_forty_time>
        <forty_fifty_time>47</forty_fifty_time>
        <fifty_sixty_time>40</fifty_sixty_time>
        <sixty_seventy_time>34</sixty_seventy_time>
        <seventy_eight_time>35</seventy_eight_time>
        <eight_ninety_time>36</eight_ninety_time>
        <ninety_hundred_time>37</ninety_hundred_time>
</CBL7521A>
<BBL7551A>
        <battery_capacity>5020</battery_capacity>  <!-- ç”µæ± å®¹é‡ -->
        <ac_charge_current>2000</ac_charge_current> <!-- äº¤æµç”µå……ç”µç”µæµå€¼ -->
        <usb_charge_current>500</usb_charge_current> <!-- USBå……ç”µç”µæµå€¼ -->
        <original_current>148</original_current>  <!-- å‡ºåŽ‚çŠ¶æ€åŽŸå§‹äº®å±ä½¿ç”¨ç”µæµ -->
        <original_brightness>255</original_brightness> <!-- å‡ºåŽ‚çŠ¶æ€é»˜è®¤å±å¹•äº®åº¦ -->
        <current_in_supermode>6.0</current_in_supermode>  <!-- æžè‡´çœç”µæ¨¡å¼å¾…æœºç”µæµ,mA -->
        <current_per_brightness>0.28</current_per_brightness> <!-- æ¯å¢žåŠ æˆ–å‡å -->

        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>168</zero_ten_time>
        <ten_twenty_time>182</ten_twenty_time>
        <twenty_thirty_time>184</twenty_thirty_time>
        <thirty_forty_time>186</thirty_forty_time>
        <forty_fifty_time>187</forty_fifty_time>
        <fifty_sixty_time>191</fifty_sixty_time>
        <sixty_seventy_time>195</sixty_seventy_time>
        <seventy_eight_time>203</seventy_eight_time>
        <eight_ninety_time>199</eight_ninety_time>
        <ninety_hundred_time>226</ninety_hundred_time>
</BBL7551A>
<WBL7372A>
        <battery_capacity>3150</battery_capacity>  <!-- ç”µæ± å®¹é‡ -->
        <ac_charge_current>2000</ac_charge_current> <!-- äº¤æµç”µå……ç”µç”µæµå€¼ -->
        <usb_charge_current>500</usb_charge_current> <!-- USBå……ç”µç”µæµå€¼ -->
        <original_current>420</original_current>  <!-- å‡ºåŽ‚çŠ¶æ€åŽŸå§‹äº®å±ä½¿ç”¨ç”µæµ -->
        <original_brightness>255</original_brightness> <!-- å‡ºåŽ‚çŠ¶æ€é»˜è®¤å±å¹•äº®åº¦ -->
        <current_in_supermode>5.2</current_in_supermode>  <!-- æžè‡´çœç”µæ¨¡å¼å¾…æœºç”µæµ,mA -->
        <current_per_brightness>0.93</current_per_brightness> <!-- æ¯å¢žåŠ æˆ–å‡å -->

        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>50</zero_ten_time>
        <ten_twenty_time>39</ten_twenty_time>
        <twenty_thirty_time>40</twenty_thirty_time>
        <thirty_forty_time>40</thirty_forty_time>
        <forty_fifty_time>41</forty_fifty_time>
        <fifty_sixty_time>41</fifty_sixty_time>
        <sixty_seventy_time>42</sixty_seventy_time>
        <seventy_eight_time>43</seventy_eight_time>
        <eight_ninety_time>44</eight_ninety_time>
        <ninety_hundred_time>45</ninety_hundred_time>
</WBL7372A>
<BBL7371A>
        <battery_capacity>4000</battery_capacity>  <!-- ç”µæ± å®¹é‡ -->
        <ac_charge_current>1340</ac_charge_current> <!-- äº¤æµç”µå……ç”µç”µæµå€¼ -->
        <usb_charge_current>400</usb_charge_current> <!-- USBå……ç”µç”µæµå€¼ -->
        <original_current>269</original_current>  <!-- å‡ºåŽ‚çŠ¶æ€åŽŸå§‹äº®å±ä½¿ç”¨ç”µæµ -->
        <original_brightness>255</original_brightness> <!-- å‡ºåŽ‚çŠ¶æ€é»˜è®¤å±å¹•äº®åº¦ -->
        <current_in_supermode>8.4</current_in_supermode>  <!-- æžè‡´çœç”µæ¨¡å¼å¾…æœºç”µæµ,mA -->
        <current_per_brightness>1.5</current_per_brightness> <!-- æ¯å¢žåŠ æˆ–å‡å -->

        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>92</zero_ten_time>
        <ten_twenty_time>82</ten_twenty_time>
        <twenty_thirty_time>60</twenty_thirty_time>
        <thirty_forty_time>92</thirty_forty_time>
        <forty_fifty_time>86</forty_fifty_time>
        <fifty_sixty_time>89</fifty_sixty_time>
        <sixty_seventy_time>90</sixty_seventy_time>
        <seventy_eight_time>84</seventy_eight_time>
        <eight_ninety_time>95</eight_ninety_time>
        <ninety_hundred_time>103</ninety_hundred_time>
</BBL7371A>
<WBW5616A>
        <battery_capacity>4000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>2000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>450</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>330</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>4.0</current_in_supermode>  <!-- 极致省电模式待机电流,mA -->
        <current_per_brightness>2.2</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>65</zero_ten_time>
        <ten_twenty_time>78</ten_twenty_time>
        <twenty_thirty_time>78</twenty_thirty_time>
        <thirty_forty_time>75</thirty_forty_time>
        <forty_fifty_time>68</forty_fifty_time>
        <fifty_sixty_time>63</fifty_sixty_time>
        <sixty_seventy_time>67</sixty_seventy_time>
        <seventy_eight_time>68</seventy_eight_time>
        <eight_ninety_time>74</eight_ninety_time>
        <ninety_hundred_time>65</ninety_hundred_time>
</WBW5616A>

<WBW5615A>
        <battery_capacity>2000</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>450</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>312</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>19.8</current_in_supermode>  <!-- 极致省电模式待机电流,mA -->
        <current_per_brightness>2.1</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>30</zero_ten_time>
        <ten_twenty_time>44</ten_twenty_time>
        <twenty_thirty_time>39</twenty_thirty_time>
        <thirty_forty_time>38</thirty_forty_time>
        <forty_fifty_time>40</forty_fifty_time>
        <fifty_sixty_time>41</fifty_sixty_time>
        <sixty_seventy_time>41</sixty_seventy_time>
        <seventy_eight_time>41</seventy_eight_time>
        <eight_ninety_time>42</eight_ninety_time>
        <ninety_hundred_time>35</ninety_hundred_time>
</WBW5615A>
<WBW5620A>
        <battery_capacity>2300</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>308</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>4.5</current_in_supermode>  <!-- 极致省电模式待机电流,mA -->
        <current_per_brightness>2.1</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>33</zero_ten_time>
        <ten_twenty_time>30</ten_twenty_time>
        <twenty_thirty_time>56</twenty_thirty_time>
        <thirty_forty_time>42</thirty_forty_time>
        <forty_fifty_time>40</forty_fifty_time>
        <fifty_sixty_time>42</fifty_sixty_time>
        <sixty_seventy_time>42</sixty_seventy_time>
        <seventy_eight_time>46</seventy_eight_time>
        <eight_ninety_time>45</eight_ninety_time>
        <ninety_hundred_time>36</ninety_hundred_time>
</WBW5620A>
<WBL7362A>
        <battery_capacity>1950</battery_capacity>  <!-- 电池容量 -->
        <ac_charge_current>1000</ac_charge_current> <!-- 交流电充电电流值 -->
        <usb_charge_current>500</usb_charge_current> <!-- USB充电电流值 -->
        <original_current>262</original_current>  <!-- 出厂状态原始亮屏使用电流 -->
        <original_brightness>255</original_brightness> <!-- 出厂状态默认屏幕亮度 -->
        <current_in_supermode>10.9</current_in_supermode>  <!-- 极致省电模式待机电流,mA -->
        <current_per_brightness>2.1</current_per_brightness> <!-- 每增加或减少单位亮度对电流值增加或减少值 -->
        
        <green_background_weight>0.02</green_background_weight>
        <system_animator_weight>0.005</system_animator_weight>
        <darktheme_weight>0.07</darktheme_weight>
        
        <wifi_weight>0.07</wifi_weight>
        <bt_weight>0.015</bt_weight>
        <data_weight>0.07</data_weight>
        <gps_weight>0.01</gps_weight>
        <sync_weight>0.017</sync_weight>
        <push_weight>0</push_weight>
        <cpufreq_weight>0.05</cpufreq_weight>
        <screen_save_weight>0.05</screen_save_weight>
        <gestures_weight>0.01</gestures_weight>
        <timeout_zero_weight>0.035</timeout_zero_weight>
        <timeout_one_weight>0.032</timeout_one_weight>
        <timeout_two_weight>0.03</timeout_two_weight>
        <timeout_three_weight>0.025</timeout_three_weight>
        <timeout_four_weight>0.015</timeout_four_weight>
        <timeout_five_weight>0.01</timeout_five_weight>
        <timeout_six_weight>0.005</timeout_six_weight>
        <timeout_seven_weight>0</timeout_seven_weight>
        
        <zero_ten_time>43</zero_ten_time>
        <ten_twenty_time>42</ten_twenty_time>
        <twenty_thirty_time>43</twenty_thirty_time>
        <thirty_forty_time>43</thirty_forty_time>
        <forty_fifty_time>44</forty_fifty_time>
        <fifty_sixty_time>44</fifty_sixty_time>
        <sixty_seventy_time>45</sixty_seventy_time>
        <seventy_eight_time>46</seventy_eight_time>
        <eight_ninety_time>47</eight_ninety_time>
        <ninety_hundred_time>50</ninety_hundred_time>
</WBL7362A>
 </project>
